<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SmartNinja basic Jinja template</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>Pretvornik</h1>

    <form method="post" action="/pretvornik">
    <input name="vnos1" placeholder="Vtipkaj mersko enoto - centimeter"><br>
    <input name="vnos2" placeholder="Vtipkaj mersko enoto - meter"><br>
    <input name="vnos3" placeholder="Vtipkaj stevilko" value="{{ rezultat }}">
    <button>Pretvori</button>

    </form>
</body>
</html>